.studentsCard {
    width: 1201px;
    height: 656px;
    margin: 30px auto 0 auto;
    overflow-x: scroll;
    scrollbar-width: thin;
    position: relative;
  }
  
  table {
    background-color: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  thead tr {
    height: 89px;
    border-bottom: 1px solid #315c8e;
  }
  
  thead tr th {
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 0 85px;
  }
  
  tbody tr {
    height: 77px;
    text-align: center;
  }
  
  tbody tr td {
    color: black;
    font-weight: 400;
    font-size: 14px;
    border-right: none;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
  }
  
  .gradesContent {
    display: flex;
    align-items: center;
  }
  
  .gradesContent span {
    font-weight: 700;
    font-size: 14px;
    color: black;
  }
  
  .sorticon {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    color: #767777;
  }