.pagination {
  margin-top: 69px;
  display: flex;
  justify-content: center;
}

.pagination div img {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.pages span {
  padding: 0 4.5px;
}

.pages span.active {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid white;
}
