.regCard {
  width: 794px;
  height: 894px;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.regCard h3 {
  margin: 72px 0 0 0;
  color: #000000;
  font-weight: 400;
  font-size: 64px;
}

.regCard p {
  color: #000000;
  font-weight: 400;
  font-size: 36px;
}

.regCard div {
  width: 200px;
  height: 200px;
  background-color: #e6ebff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addphoto {
  width: 82.69px;
  height: 74.8px;
  background-color: #e6ebff;
  cursor: pointer;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.regCard div input {
  display: none;
}

.regCard .inputName {
  width: 532px;
  height: 101px;
  background-color: #e6ebff;
  border: none;
  font-weight: 400;
  font-size: 36px;
  padding-left: 29px;
}

.regCard input::placeholder {
  color: #a5a5a5;
  font-weight: 400;
  font-size: 36px;
}

.regCard button {
  width: 395px;
  height: 74.14px;
  border-radius: 50px;
  background-color: #4980c0;
  font-weight: 400;
  font-size: 24px;
  border: none;
  color: #ffffff;
  margin: 47px 0 44.86px 0;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .regCard {
    width: 294px;
    height: 474px;
  }

  .regCard h3 {
    font-size: 24px;
  }

  .regCard p {
    font-size: 16px;
  }

  .regCard div {
    width: 100px;
    height: 100px;
  }
  .addphoto {
    width: 52.69px;
    height: 44.8px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }

  .regCard .inputName {
    width: 232px;
    height: 31px;
    font-size: 16px;
    padding-left: 19px;
  }

  .regCard input::placeholder {
    font-size: 16px;
  }

  .regCard button {
    width: 165px;
    height: 34.14px;
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .regCard {
    width: 494px;
    height: 534px;
  }

  .regCard h3 {
    margin: 32px 0 0 0;
    font-size: 34px;
  }

  .regCard p {
    color: #000000;
    font-size: 26px;
  }

  .regCard div {
    width: 100px;
    height: 100px;
  }

  .addphoto {
    width: 52.69px;
    height: 44.8px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }
  .regCard .inputName {
    width: 232px;
    height: 31px;
    font-size: 16px;
    padding-left: 19px;
  }

  .regCard input::placeholder {
    font-weight: 400;
    font-size: 16px;
  }

  .regCard button {
    width: 195px;
    height: 44.14px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .regCard {
    width: 494px;
    height: 534px;
  }

  .regCard h3 {
    margin: 32px 0 0 0;
    font-size: 34px;
  }

  .regCard p {
    color: #000000;
    font-size: 26px;
  }

  .regCard div {
    width: 100px;
    height: 100px;
  }

  .addphoto {
    width: 52.69px;
    height: 44.8px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }
  .regCard .inputName {
    width: 232px;
    height: 31px;
    font-size: 16px;
    padding-left: 19px;
  }

  .regCard input::placeholder {
    font-weight: 400;
    font-size: 16px;
  }

  .regCard button {
    width: 195px;
    height: 44.14px;
    font-size: 14px;
  }
}
