.list {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none outside;
}

li {
  width: 400px;
  height: 550px;
  border-radius: 25px;
  border: 3px solid #ebebeb;
  margin: 10px 0;
  background-color: #e6ebff;
}

li .userId {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 10px auto;
  background-color: #4980c0;
  display: flex;
  justify-content: center;
}

li .userId span {
  font-size: 60px;
  font-weight: 500;
}

li .id {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px auto;
  background-color: #4980c0;
  display: flex;
  justify-content: center;
}

li .id span {
  font-size: 30px;
  font-weight: 500;
  color: #e6ebff;
}

li p {
  background-color: #4980c0;
  font-size: 24px;
  border-radius: 6px;
  margin: 10px;
  padding: 5px;
}
