.bars {
  width: 1201px;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}

.filter {
  width: 170px;
  height: 42px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter span {
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin-left: 27px;
}

.filter img {
  width: 22px;
  height: 22px;
  padding: 10px;
  color: #767777;
}

.filterMenu {
  width: 297px;
  height: 295.4px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 218px;
  left: 50px;
}

.drop {
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.drop img {
  width: 4px;
  height: 7.88px;
  color: #274d78;
}

.drop p {
  font-weight: 500;
  font-size: 14px;
  color: #565656;
  margin-left: 5px;
}

.search input {
  width: 263px;
  height: 37px;
  border-radius: 8px;
  background: url("../assets/search.png") no-repeat 16px 6px;
  background-color: #ffffff;
  padding-left: 50px;
  font-size: 18px;
}

.studentsCard {
  width: 1201px;
  height: 656px;
  margin: 30px auto 0 auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  position: relative;
}

table {
  background-color: #ffffff;
  border-radius: 10px;
}

thead tr {
  height: 89px;
}

thead tr th {
  width: 151px;
  font-weight: 700;
  font-size: 14px;
  color: black;
  padding: 0 50px;
}

tbody tr {
  height: 75px;
  text-align: center;
}

tbody tr td {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
